@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    margin: 10px;
    background-color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.art-logo {
    text-align: center;
    padding: 10px;
}

.image {
    height: 200px;
    width: 230px;
    margin: 20px;
}

.art-circle-heading {
    color: #446ab8;
    font-family: "Bree Serif";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.bottom-container {
    margin-top: 15px;
    margin-left: 10px;
}

.sub-heading {
    color: #525459;
    font-family: "Roboto";
    font-size: 18px;
}

.obj-para {
    color: #767a77;
    font-family: "Roboto";
    font-size: 15px;
}

.list-style-type {
    list-style-type: circle;
}

.list-item {
    padding: 7px;
}

.button {
    margin: 20px;
}




.big-container {
    background-color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 50px;
    padding: 10px;

}

.card-container {
    background-color: white;
    padding: 10px;
    margin: 18px;
    border-radius: 10px;
    height: 440px;
    width: 250px;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.image {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.card-heading {
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.card-description {
    color: #4e5254;
    font-family: "normal";
    font-size: 15px;
    font-weight: 700;
    height: 90px;
    width: 240px;
}