@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    margin: 10px;
    background-color: white;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.art-logo {
    text-align: center;
    padding: 10px;
}

.image {
    height: 200px;
    width: 230px;
    margin: 20px;
}

.art-circle-heading {
    color: #446ab8;
    font-family: "Bree Serif";
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}

.bottom-container {
    margin-top: 15px;
    margin-left: 10px;
}

.sub-heading {
    color: #525459;
    font-family: "Roboto";
    font-size: 18px;
}

.obj-para {
    color: #767a77;
    font-family: "Roboto";
    font-size: 15px;
}

.list-style-type {
    list-style-type: circle;
}

.btn{
    position: relative;
    padding: 20px 60px;
    background-color: rgba(58, 62, 175, 0.333);
    justify-content: center;
    align-items: center;
    transition: 1s;
    overflow: hidden;
    margin: 40px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.btn:hover{
    background: #b43bed;
    box-shadow: 0 0 10px #4c23c9,
    0 0 30px #4c23c9,
    0 0 60px #4c23c9,
    0 0 100px #4c23c9;

}




/* .carousel-control-prev{
    display: none;
}

.carousel-indicators{
    display: none;
}

.carousel-control-next{
    display: none;
} */

.big-container {
    background-color: white;
    background-size: cover;
    margin: 50px;
    padding: 12px;
}

.card-container {
    background-color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    height: auto;
    width: calc(25% - 20px);
    border: 1px solid gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image {
    height: 200px;
    max-width: 100%;
    margin: 10px;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-heading {
    color: black;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
}

.card-description {
    color: #4e5254;
    font-family: "normal";
    font-size: 15px;
    font-weight: 700;
}
